
body {
  margin: 0;
  font-display: optional;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(200,100%,76%,0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer{
  background-color:transparent;
}

.cell-container {
  display: inline-flex;
  align-items: center;
  border: 1px solid rgb(250, 250, 250);
  color: rgb(179, 179, 179);
  flex-direction: column;
  font-size: 12px; height: 120px;
  justify-content: center;
  width: 120px;
}

.cell-icon {
  color: black; font-size: 24px;
  padding: 8px; text-align: center;
}

.cell-name {
  cursor: pointer;
}

.cell-code {
  cursor: pointer; font-size: 10px;
}